.cell{
    height: 100px;
    width: 25%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    font-size:30px ;
   

}
#gameboard{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}